.banner-servicos {
  background: url(../../Image/banner-un-paso-del-mar-servicos.jpg) no-repeat center center;
  background-size: cover;
  min-height: 822px;
  @media (max-width: $bootstrap-lg) {
    background: url(../../Image/banner-un-paso-del-mar-servicos-md.jpg) no-repeat center center;
    background-size: cover;
  }
  h2 {
    color: $gray-100;
    padding-bottom: 3rem;
  }
  h4 {
    color: $gray-100;
  }
  .item {
      &:hover .numerador {
          background: #f7f7f7;
          color: $secondary;
      }
      .numerador {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #f7f7f7;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          font-size: 1.4rem;
          font-weight: bold;
          transition: 0.5s;
      }
  }
}

.localizacao {
  background: url(../../Image/mapa-regiao.jpg) no-repeat center right;
  background-size: cover;
  a {
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 1rem;
    text-decoration: none;
    display: inline-block;
  }
  @media (max-width: $bootstrap-lg) {
    background: url(../../Image/mapa-regiao-md1.jpg) no-repeat center right;
    background-size: cover;
  }
}